html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //- link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh", crossorigin="anonymous")/
        //-Local
        link(rel='stylesheet', href=`../../dist/css/main.min.css`, media='all')
        //-Build
        link(rel='stylesheet', href=`dist/css/main.min.css`, media='all')
        link(rel="icon", type="image/png", href="./assets/img/people.png")
        title Atena - Notas
    body.atena
        .atena__header.desktop
            .atena__header-wrapper
                .atena__header-container
                    a.atena__header-container--logo
                        include ../../assets/svg/logo.svg
                    a.atena__header-container--item Lorem Ipsum
                    a.atena__header-container--item Lorem Ipsum
                    a.atena__header-container--item Lorem Ipsum
                    a.atena__header-container--item Lorem Ipsum
                    a.atena__header-container--item Lorem Ipsum
                    a.atena__header-container--item Lorem Ipsum
                .atena__header-container
                    a.atena__header-container--button.btn.btn-medium.link-outlined  Lorem Ipsum
        .atena__header.mobile
            .atena__header-wrapper
                .atena__header-container
                    button.atena__header-container--menu-button
                        include ../../assets/svg/button.svg
                .atena__header-container
                    a.atena__header-container--logo
                        include ../../assets/svg/logo.svg
                    a.atena__header-container--item Lorem Ipsum
                    a.atena__header-container--item Lorem Ipsum
                    a.atena__header-container--item Lorem Ipsum
                    a.atena__header-container--item Lorem Ipsum
                    a.atena__header-container--item Lorem Ipsum
                    a.atena__header-container--item Lorem Ipsum
                .atena__header-container
                    a.atena__header-container--button.btn.btn-medium.link-outlined  Lorem Ipsum
        .atena__mobile-menu
            .atena__mobile-menu-container
                a.atena__header-container--item Lorem Ipsum
                a.atena__header-container--item Lorem Ipsum
                a.atena__header-container--item Lorem Ipsum
                a.atena__header-container--item Lorem Ipsum
                a.atena__header-container--item Lorem Ipsum
                a.atena__header-container--item Lorem Ipsum
            .atena__mobile-menu-container
                a.atena__header-container--button.btn.btn-medium.link-outlined  Lorem Ipsum
        section.atena__middle-section 
            .atena__middle-section-1
                .wrapper--title 
                    |Titulo
                .content
                    .wrapper--txt
                        |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis massa massa. Maecenas consequat . Phasellus ex odio, porttitor sit amet malesuada sed, feugiat id est.
                    .wrapper--img
                        include ../../assets/svg/art-and-design-new.svg
                    .wrapper--txt
                        |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis massa massa. Maecenas consequat . Phasellus ex odio, porttitor sit amet malesuada sed, feugiat id est.
            .atena__middle-section-2
                .wrapper--title 
                    |Titulo
                .content
                    .wrapper--txt
                        |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis massa massa. Maecenas consequat . Phasellus ex odio, porttitor sit amet malesuada sed, feugiat id est.
                    .wrapper--img
                        include ../../assets/svg/building.svg
            .atena__middle-section-3
                .wrapper--title 
                    |Titulo
                .content
                    .wrapper--img
                        include ../../assets/svg/statue.svg
                    .wrapper--txt
                        |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis massa massa. Maecenas consequat . Phasellus ex odio, porttitor sit amet malesuada sed, feugiat id est.
            .atena__middle-section-4
                .wrapper--title 
                    |Titulo
                .content
                    .wrapper--txt
                        |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis massa massa. Maecenas consequat . Phasellus ex odio, porttitor sit amet malesuada sed, feugiat id est.
                    .wrapper--txt
                        |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis massa massa. Maecenas consequat . Phasellus ex odio, porttitor sit amet malesuada sed, feugiat id est.
                    .wrapper--txt
                        |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis massa massa. Maecenas consequat . Phasellus ex odio, porttitor sit amet malesuada sed, feugiat id est.
            .atena__middle-section-5
                .wrapper--title 
                    |Titulo
                .content
                    .wrapper--img
                        include ../../assets/svg/classical.svg
                    .wrapper--txt
                        |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis massa massa. Maecenas consequat . Phasellus ex odio, porttitor sit amet malesuada sed, feugiat id est.
                    .wrapper--txt
                        |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis massa massa. Maecenas consequat . Phasellus ex odio, porttitor sit amet malesuada sed, feugiat id est.
            .atena__middle-section-6
                .wrapper--title 
                    |Titulo
                .content
                    .wrapper--txt
                        |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis massa massa. Maecenas consequat . Phasellus ex odio, porttitor sit amet malesuada sed, feugiat id est.
                    .wrapper--txt
                        |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis massa massa. Maecenas consequat . Phasellus ex odio, porttitor sit amet malesuada sed, feugiat id est.
                    .wrapper--img
                        include ../../assets/svg/deusa.svg
        footer
            .atena__footer
                .atena__footer-wrapper
                    .atena__footer-container-1
                        .atena__footer-section
                            .atena__footer-foto
                                img(alt="Foto 1", src="./assets/img/muriloimg.jpg")
                            .atena__footer-conteudo
                                |Lorem IpsumLorem Ipsum
                                br  
                                |Lorem IpsumLorem Ipsumddd
                                br
                                |Lorem IpsumLorem Ipsum
                        .atena__footer-section
                            .atena__footer-foto
                                img(alt="Foto 1", src="./assets/img/flavioimg.jpg")
                            .atena__footer-conteudo
                                |Lorem IpsumLorem Ipsum
                                br  
                                |Lorem IpsumLorem Ipsum
                                br
                                |Lorem IpsumLorem Ipsum
                        .atena__footer-section
                            .atena__footer-foto
                                img(alt="Foto 1", src="./assets/img/gabrielimg.jpg")
                            .atena__footer-conteudo
                                |Lorem IpsumLorem Ipsum
                                br  
                                |Lorem IpsumLorem Ipsum
                                br
                                |Lorem IpsumLorem Ipsum
                    .atena__footer-container-2
                        .atena__footer-section-2
                            .atena__footer-logoline-wrapper
                                .atena__footer-logoline-content
                                    img(alt="Foto 1", src="./assets/img/logo.png")
                            .atena__footer-centerline
                                .atena__footer-centerline-left
                                    |left content
                                    br
                                    |left content
                                    br
                                    |left content
                                    br
                                    |left content
                                    br
                                    |left content
                                .atena__footer-centerline-middle
                                    |middle content
                                    br
                                    |middle content
                                    br
                                    |middle content
                                    br
                                    |middle content
                                    br
                                    |middle content
                                .atena__footer-centerline-right
                                    |right content
                                    br
                                    |right content
                                    br
                                    |right content
                                    br
                                    |right content
                                    br
                                    |right content
                            .atena__footer-bottomline
                                .atena__footer-bottomline-left
                                    |bottomleft content
                                    br
                                    |bottomleft content
                                    br
                                    |bottomleft content
                                    br
                                    |bottomleft content
                                    br
                                    |bottomleft content
                                .atena__footer-bottomline-right
                                    |bottomright content
                                    br
                                    |bottomright content
                                    br
                                    |bottomright content
                                    br
                                    |bottomright content
                                    br
                                    |bottomright content
            //-Build
            script(type='text/javascript', src=`/dist/js/main.min.js`)
            //-Local
            script(type='text/javascript', src=`../../dist/js/main.min.js`)
            script(type='text/javascript', src=`https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js`)
            //- script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js", integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6", crossorigin="anonymous")
            //- script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js", integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm", crossorigin="anonymous")
