html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //-Build
        link(rel='stylesheet', href=`dist/css/main.min.css`, media='all')
        //-Local
        //- link(rel='stylesheet', href=`../../dist/css/main.min.css`, media='all')

        link(rel="icon", type="image/png", href="./assets/img/people.png")
        title Atena - Notas
    body.atena
        .atena__overlay
        .atena__header.desktop
            .atena__header-wrapper
                .atena__header-container
                    a.atena__header-container--logo
                        include ../../assets/svg/logo.svg
                    a(href="#section-1").atena__header-container--item Atena
                    a(href="#section-2").atena__header-container--item Tecnologias
                    a(href="#section-3").atena__header-container--item Inspiração
                    a(href="#section-4").atena__header-container--item Features
                    a(href="#section-5").atena__header-container--item Arquitetado para Sua Universidade
                    a(href="#section-6").atena__header-container--item Open Source
                .atena__header-container
                    a(href="#section-7").atena__header-container--button.btn.btn-medium.link-outlined  Desenvolvedores
        .atena__header.mobile
            .atena__header-wrapper
                .atena__header-container
                    button.atena__header-container--menu-button
                        include ../../assets/svg/bars.svg
                .atena__header-container
                    a.atena__header-container--logo
                        include ../../assets/svg/logo.svg
        .atena__close-menu
            include ../../assets/svg/signs.svg
        .atena__mobile-menu
            .atena__mobile-menu-container
                a(href="#section-1").atena__header-container--item Atena
                a(href="#section-2").atena__header-container--item Tecnologias
                a(href="#section-3").atena__header-container--item Inspiração
                a(href="#section-4").atena__header-container--item Features
                a(href="#section-5").atena__header-container--item Arquitetado para sua Universidade
                a(href="#section-6").atena__header-container--item Open Source
            .atena__mobile-menu-container
                a(href="#section-7").atena__header-container--button.btn.btn-medium.link-outlined  Desenvolvedores
        section.atena__middle-section 
            .atena__middle-section-1#section-1
                .wrapper--title 
                    |Atena
                .content
                    .wrapper--txt
                        |Nasceu de uma simples ideia, e se existisse um  ambiente de anotações pessoais, que pudesse se tornar público quando necessário?. Seja em qual device você esteja, mobile ou desktop, você pudesse acessar suas mesmas anotações?
                    .wrapper--img
                        include ../../assets/svg/art-and-design-new.svg
                    .wrapper--txt
                        |Esta é a solução que a aplicação Atena apresenta, uma plataforma unificada onde você e seus amigos podem despejar o conhecimento aprendido em sala de aula, de maneira fácil e intuitiva. Sem mais vários programas ou pen drives para guardar suas anotações!
            .atena__middle-section-2#section-2
                .wrapper--title 
                    |Tecnologias
                .content
                    .wrapper--txt
                        |Abusando do robusto ecossistema da Microsoft, Mobile desenvolvido em Xamarin Forms. Desktop desenvolvido em Windows Forms. Backend da aplicação utilizando node.js puro para o webservice REST, hospedado na Azure para alta confiabilidade e segurança aos usuários.
                    .wrapper--img
                        include ../../assets/svg/building.svg
            .atena__middle-section-3#section-3
                .wrapper--title 
                    |Inspiração
                .content
                    .wrapper--img
                        include ../../assets/svg/statue.svg
                    .wrapper--txt
                        |Uma brincadeira e um sonho ao mesmo tempo, se pudessemos estar em qualquer computador da minha universidade, com todas as minhas anotações presentes na minha máquina, de maneira fácil e intuitiva. Foi assim que nasceu Atena, inspirada na deusa grega da sabedoria.
            .atena__middle-section-4#section-4
                .wrapper--title 
                    |Features
                .content
                    .wrapper--txt
                        |Persistência dos dados seja em qual dispositivo que você esteja. Administre suas anotações pessoais seja no Desktop, enquanto estuda em sua casa ou na universidade, ou em qualquer outro lugar que você precise com a Atena na palma da sua mão, via Mobile.
                    .wrapper--txt
                        |Pelo Desktop, você pode compartilhar suas notas com outros usuários. Encontre seus amigos e estejam todos unificados na mesma plataforma de compartilhamento de notas pessoais. Estudem juntos sempre!.
                    .wrapper--txt
                        |Facilite seu início na plataforma com o Login com Google, já com toda a segurança e infraestutura que o Google pode oferecer em seu serviço de login, mais uma vez, Atena facilitando sua vida.
            .atena__middle-section-5#section-5
                .wrapper--title 
                    |Arquitetado para sua Universidade
                .content
                    .wrapper--img
                        include ../../assets/svg/classical.svg
                    .wrapper--txt
                        |Construído com toda a infraestrutura da Microsoft que ocupa mais de 80% dos notebooks presentes nas universidades do Brasil. Atena foi projetado para se encaixar em qualquer Universidade ou Escola que precise dessa solução.
                    .wrapper--txt
                        |Com implementação rápida e simples, Atena foi desenvolvida sob os mais criteriosos padrões de software modernos que existem. Alta confiabilidade de um SLA mínimo de 98%, o que mais você precisa?.
            .atena__middle-section-6#section-6
                .wrapper--title 
                    |Open Source
                .content
                    .wrapper--txt
                        |A melhor maneira de se desenvolver uma aplicação que atenda os usuários, e ao mesmo tempo seja veloz em entregar os resultados, é fazê-la livre para contribuições, em volta de todo o Globo. 
                    .wrapper--txt
                        |Por isso, escolhemos deixar todo o código da aplicação Atena disponível no GitHub para quem quer nos ajudar a dar o próximo passo. Mãos a massa?.
                    .wrapper--img
                        include ../../assets/svg/deusa.svg
        footer
            .atena__footer
                .atena__footer-wrapper
                    .atena__footer-container-1#section-7
                        .atena__footer-section
                            .atena__footer-foto
                                img(alt="Foto 1", src="./assets/img/muriloimg.jpg")
                            .atena__footer-conteudo
                                |Apaixonado por FPS's.
                                br  
                                |Fanático por LOTR.
                                br
                                |Tentando ser o próximo Tony Stark.
                        .atena__footer-section
                            .atena__footer-foto
                                img(alt="Foto 1", src="./assets/img/flavioimg.jpg")
                            .atena__footer-conteudo
                                |Amante de Pink Floyd.
                                br
                                |Mestre do Windows Form.
                                br
                                |Sempre em busca de mais conhecimento.
                        .atena__footer-section
                            .atena__footer-foto
                                img(alt="Foto 1", src="./assets/img/gabrielimg.jpg")
                            .atena__footer-conteudo
                                |Gerente de projeto nato.
                                br  
                                |Faixa preta de Taekwondo.
                                br
                                |Adora um churrasco de domingo.
                    .atena__footer-container-2
                        .atena__footer-section-2
                            .atena__footer-logoline-wrapper
                                .atena__footer-logoline-content
                                    img(alt="Foto 1", src="./assets/img/logo.png")
                            .atena__footer-centerline
                                .atena__footer-centerline-left
                                    |API Documentation
                                    br
                                    a(href="https://atenaapiv1.azurewebsites.net/")  
                                        |Acesse agora.
                                    br
                                .atena__footer-centerline-middle
                                    |GitHub
                                    br  
                                    a(href="https://github.com/Mogueno/Atena-Web")
                                        |Web 
                                    br
                                    a(href="https://github.com/Mogueno/Atena-Desk-and-Mobile")
                                        |Mobile e Desk 
                                    br
                                    a(href="https://github.com/Mogueno/Atena-Backend")
                                        |Backend
                                .atena__footer-centerline-right
                                    |Agradecimentos especiais para 
                                    br
                                    |os professores da UNIFAAT
                                    br
                                    |e orientadores do projeto
                                    br
                                    |Kátia, Ronaldo, Alexandre
                                    br
                                    |e coordenador Michel
                            .atena__footer-bottomline
                                .atena__footer-bottomline-left
                                    |Quer contatar os devs? 
                                    br
                                    a(href="https://www.linkedin.com/in/flavio-o-847184136/")
                                        |Flavio Odas 
                                    br
                                    a(href="https://www.linkedin.com/in/murilo-preccaro-565050169/")
                                        |Murilo Preccaro  
                                    br
                                    a(href="#")
                                        |Gabriel Ferreira 
                                .atena__footer-bottomline-right
                                    |GitHub dos devs
                                    br
                                    a(href="https://github.com/flavioodas")
                                        |Flavio Odas 
                                    br
                                    a(href="https://github.com/Mogueno")
                                        |Murilo Preccaro 
                                    br
                                    a(href="#")
                                        |Gabriel Ferreira 
            //-Build
            script(type='text/javascript', src=`dist/js/main.min.js`)
            //-Local
            //- script(type='text/javascript', src=`../../dist/js/main.min.js`)
            script(type='text/javascript', src=`https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js`, language="javascript")
